.Header {
    background-color: #019AE8;
    height: 8vh;

    img {
        margin-left: 2vh;
        height: 8vh;
    }
    button {
        float: right;
        height: 100%;
        width: 10vw;
        font-weight: bold;
        background-color: rgba($color: rgb(0, 134, 201), $alpha: 0.5);
        border: none;
        transition: background-color .25s, color .25s;
    }
    button:hover {
        background-color: rgba(165, 99, 170, .75);
        color: white;
    }
}