.Footer {
  height: 20vh;
  background-color: #017bb8;
  width: 100%;
  position: absolute;
  bottom: 0;

  img {
    width: 10vw;
    margin: 0 10vw;
  }
  img#fpempresa {
    width: 16vw;
  }
  p {
    margin: 1vh auto;
    text-align: center;
  }
}
