.Footer {
  background-color: #019ae8;
  width: 100%;
  position: absolute;
  bottom: 0;

  img {
    width: 10vw;
    margin: 3vh 10vw 1vh;
  }
  img#fpempresa {
    width: 15vw;
  }
  p {
    margin: 1vh auto;
    text-align: center;
  }
}
